body{
 height: 100%;   
 background: #2a2a2b;
 color: white;
}
input {
    color: black;
}

/*#resumo_id > p, #params_id > p {
    color: #999;
    border-left: 2px solid #999;
    padding-left: 2%;
}*/

#params_id {
    width: 50%;
    /* border: solid; */
    float: left;
}

#params_id > p {
    margin-top: 2%;
}

#resumo_id {
    width: 40%;
    float: left;
    margin-left: 5%;
}

#url_step3 > h5 {
    border-bottom: solid;
}

#connectionDiv0 > hr {
    width: 80%;
    text-align: center;
    margin-top: 14%;
}

#getOtherUrl_form > div > label {
    float: left;
}

#arcgisContent {
    /*height: 80%;
    max-height: 80%;*/
    height: 40%;
    overflow-y: auto;
}

#connectionDiv0 {
    width: 100%;
    float: left;
    height: 89%;
}
/*#connectionDiv1 {
    width: 100%;
    float: left;
    height: 89%;
}*/

#InputOtherUrl {
    width: 85%;
    clear: both;
    float: left;
}

#connectionCollapse {
    position: relative;
    width: 90%;
    height: 100%;
    overflow-y: auto;
}

#getOtherUrl_form > div{
  width: 100%;
}

#arcGIS_submit {
    float: left;
    margin-left: 2%;
}

#arcgisResponse {
    margin-top: 1%;
}

#dropdown_params, #dropdown_arcgis {
    min-width: 30%;
    margin-left: 0;
    margin-bottom: 3%;
}

.custom-dropdown select {
    width: 100%;
}

/**************** Scrollbar ********************/
.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover,
.track3.dragging {
    background: #d9d9d9; /* Browsers without rgba support */
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    /*background: rgba(0, 0, 0, 0.4);*/
    background: white;
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}


/**************** Navbar ***************/
body > .navbar-default {
    /*background-color: rgba(222, 184, 135, 0.901961);*/
    background: #2a2a2b;
    border-color: #337AB7;
    /*border-color: rgba(222, 184, 135, 0.901961);*/
    /*color: rgba(128, 0, 0, 0.901961);*/
    color: #FFF;
    margin-bottom: 0;
    height: 12%;
    z-index: -1;
}

#bs-example-navbar-collapse-1 {
	/*position: absolute;*/
    height: 100%;
    width: 100%;
    /*padding: 0;*/
}

#bs-example-navbar-collapse-1 > div.navbar-header {
	height: 100%;
    /*background-image: url("../images/Muvitur.png");*/
    /*position: absolute;
    top: 0;
    background-size: contain;
    background-repeat: no-repeat;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40%;*/
    margin-left: 2%;
}

#bs-example-navbar-collapse-2 {
    position: absolute;
    /*margin: auto;*/
    top: 0;
    bottom: 0;
    right: 0;
    /*width: 50%;*/
    margin-right: 1%;
}

#bs-example-navbar-collapse-2 > ul {
	height: 100%;
	width: 100%;
    margin-right: 0; 
}

/**************** Navbar hrefs ***************/

#bs-example-navbar-collapse-2 > ul > li {
	float: right;
    position: relative;
    margin-right: 1%;
    right: 1%;
    height: 100%;
    display: table;
}

#bs-example-navbar-collapse-2 > ul > li > a {
    vertical-align: middle;
    display: table-cell;
   /* font-weight: bold; */
    margin: auto;
    padding: 0;
    color:#777;
    font-size: 130%;
}

#bs-example-navbar-collapse-2 > ul > li > a:hover{
	color: black;
}

/*
#bs-example-navbar-collapse-2 > ul > li:hover{
	text-decoration: underline;
	background-color: #FFF;
	font-weight: bold;
}
*/


/**************** container ***************/
#content {
    height: 88%;
    width: 100%;
    position: absolute;
    margin: 0;
    top: 12%;
    overflow: hidden;
}

#container_url {
	border: 1px solid #c2b8c2;
    position: relative;
    width: 95%;
    top: 5%;
    height: 90%;
    margin: auto;
    border-radius: 24px 24px 24px 24px;
	-moz-border-radius: 24px 24px 24px 24px;
	-webkit-border-radius: 24px 24px 24px 24px;
	padding: 0 0 0 2%;
}

/**************** form request ***************/

#container_url > form > div {
    margin: 0;
    position: relative;
    margin-top: 1%;
    width: 100%;
    height: 80%;
}

#container_url > form > button {
	position: relative;
    margin-top: 1%;
}

#container_url > form {
    height: 25%;
  /*  padding-left: 2%;
    padding-right: 2%;*/
   /* text-align: center;*/
}

#exampleInputEmail1 {
	width: 75%;
}

#formInputButtons {
    height: 37%;
    width: 100%;
}

#formInputButtons *{
    margin-left: 1%;
    float: left;
}

#formInputButtons > span {
    margin: auto;
    margin-top: 0.5%;
}

#formInputButtons > label {
    margin-top: 0.5%;
}

#getTags_form > hr {
    margin-top: -1%;
}

#getTags_form > div > p {
    margin-bottom: 1%;
}
/**************** form response ***************/
#url_response {
    height: 65%;
    overflow: auto; 
}

#url_step2, #url_step3 {
    max-height: 90%;
    overflow: hidden;
    /*padding-left: 15px;*/
    height: 90%;
    width: 99%;
}

.panel-heading > h4 > a, .panel-heading > h4 > a:hover {
    text-decoration: none;
}

.collapse.in {
    background: #2a2a2b;
}

div[id^="collapse_childDiv_"] .collapse, div[id^='bodychildDiv_'], div[id^='collapse0_'] .panel-body {
    background: #2a2a2b;
}

/************ Loading icon ***************/ 
#container_loading {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: table;

}

#loading_div{
    display: table-cell;
    position: relative;
    margin: auto;
    vertical-align: middle;
}

.ball {
    background-color: rgba(0,0,0,0);
    border: 5px solid #337AB7;
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 35px #2e6da4;
    width: 50px;
    height: 50px;
    margin: auto;
    -moz-animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-moz-keyframes spinoff {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(-360deg);
    };
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinoff {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    };
}


#loading_arcgis{
  height: 95%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: table;
}

#loading_div_arcgis{
  display: table-cell;
  position: relative;
  margin: auto;
  vertical-align: middle;
}


/*************** checkboxes *****************/
#checkboxes_tags{
    height: 100%;
    overflow: auto;
    padding-left: 0;
    margin-left: 0;
}

#accordion0{
    padding-right: 1%;
}

#checkboxes_tags > label {
    margin-right: 0.5%;
    padding: 0.5%;
    margin-left: 0.5%;
    /*border-right: 1px solid #c2b8c2;*/
    /*width: 10%;
    overflow: auto;*/ 
}

/*the second method - much cleaner look: Using 2 :pseudo classes from predefined bootstrap icons*/
input[type='checkbox'].pseudo-checkbox + label:before,
input[type='checkbox'].pseudo-checkbox + label:after{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*unchecked icon*/
input[type='checkbox'].pseudo-checkbox + label:before{
    content: "\e157";
}

/*checked icon*/
input[type='checkbox']:checked.pseudo-checkbox + label:before{
    content: "\e067";
    color:green;
}
/*
.glyphicon-check{
    color: white;
}

.checkboxRadiusRight {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.checkboxRadiusLeft {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}*/

div[id^='accordion'] > div > div > h4 label{
    font-weight: normal !important;
}

/*.panel-default>.panel-heading input[type='checkbox']:checked:parent{
    color: #3c763d;
    background-color: #dff0d8;
}*/

/* CSS REQUIRED */
/*
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}*/

/******* Popup XML struct *********/
#textareaID {
	resize: none;
	width: 100%;
  	height: 400px;
}

/*********** Div buttons *********/
#buttons_config {
   /* position: absolute;
    bottom: 3%;
    right: 2%;
    */
    margin-right: 1%;
}

/************* Submit button *******/
.buttons_file {
    float: right;
    text-align: center;
    width: 100px;
}

.buttons_file span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttons_file span:after {
  content: '\00bb'; /* » */
  position: absolute;
  opacity: 0;
  top: 0;
  right: -3px;
}

.buttons_file:hover span {
  padding-right: 15px;
}

.buttons_file:hover span:after {
  opacity: 1;
  right: -5px;
}

.prev_buttons span:after,  .prev_buttons:hover span:after{
    opacity: 0;
}

.prev_buttons span:before {
  content: '\00ab'; /* « */
  position: absolute;
  opacity: 0;
  top: 0;
  left: -5px;
}

.prev_buttons:hover span {
    padding-left: 15px;
}

.prev_buttons:hover span:before {
  opacity: 1;
  left: 0px;
}

/******* Dar nomes as tags ********/

.input_tags {
    margin: 1%;
}

/*div[id^='childDiv_'] .bodyFields, div[id^='bodychildDiv_'] > p{
    display: flex;
    margin: 0 0.7% 0 3%;
}


div[id^='bodychildDiv_'] > div {
    margin-top: 2%;
    margin-bottom: 2%;
}
*/
.bodyFields > * {
    margin-right: 1%;
    margin-left: 1%;
}

div[id^='childDiv_'] .bodyFields label{
    display: inline;
}


/*[id^="inputTag"] {
    width: 25%!important;
}*/

/* #url_step2 div {
    width: 20%!important;
    float: left;
    margin: 1%;
 }*/

 /*************Dropdowns***********/
div[id^="childDiv_"] .dropdown-menu{
    max-height: 120px;
    overflow-x: hidden;
}

div[id^="childDiv_"] .dropdown-menu li{
    display: inline;
    word-break: keep-all;
}

div[id^="childDiv_"] {
    /*margin: 2% 0;*/
}

#config_form {
    width: 100%!important;
    height: 85%;
    overflow: auto;
}

div[id^="info_childDiv_"],  div[id^="info_bodychildDiv_"]{
    width: 70%;
    float: left;
}

div[id^="buttons_childDiv_"], div[id^="buttons_bodychildDiv_"] {
    width: 25%;
    float: right;
}

div[id^="bodychildDiv_"] hr{
    clear: both;
}

label[id$="_idButton"]{
    /*margin-top: 20%;
    margin-left: 20%;*/

    /*background-color: white;
    color: #337ab7;*/
    
    /*width: 55%;
    height: 70px;*/
}

/*label[id$="_idButton"]:hover, label[id$="_idButton"]:active {
    opacity: 0.8;
}*/

div[id^="info_bodychildDiv"] label.btn.btn-default.btn-sm.toggle-off{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

/********** Info Icon *************/
.infoIcon{
    color: #337ab7;
    opacity: 0.8;
}

.infoIcon:hover{
    color: blue;
}

div[id^="childDiv_"] > button{
    float: right;
    margin-right: 4%;
}

/********** Validations ***********/
#success-alert, #error-alert, #error-alert-getTags{
    width: 75%;
    position: fixed;
    left: 50%;
    margin-left: -37.5%;
    height: 10%;
    z-index: 1500;
    top: 1%;
}

.error-validation {
    box-shadow: 0 0 6px #D9534F;
    border: 2px solid #D9534F;
}
.ok-validation {
    border: 2px solid #5CB85C;
    box-shadow: 0 0 6px #5CB85C;
}

/********* plus & minus buttons ************/
button[id$="_addTag"], button[id$="_removeTag"] {
    float: right;
}

/******** radio buttons **********/
/*div[id^="radio-"] {
    margin: 0 0.7% 0 6%;
}
*/
.dropdownTagAttr .col-xs-6 > .btn-group {
    margin-left: 5%;
}

.dropdownTagAttr .col-xs-6 {
    display: inline-flex;
}

.dropdown_attrNames, .dropdown_attrValues, .dropdown_attrNames2, .dropdown_attrValues2 {
    margin: 0 0 0 2%!important;
}

.dropdown_tagInfo {
    margin: 0!important;
}

input[id^="toggle1_"] {
    height: 35px;
}

div[id^="checkDiv"] label{
   font-weight: normal;
}

div[id^="c0-childDiv_"], div[id^="c1-childDiv_"], div[id^="c2-childDiv_"] {
    margin-left: 10px;
}

div[id^="radio-bodychildDiv_"] > div {
    margin-bottom: 2%;
}


/********** TagInfo dropdowns + toggle ***********/
.textValuesDiv .toggle {
    margin-left: 2%;
}

button[id$='addInfoTag'] {
    float: right;
}

/*.infoTagDivs {
    margin-bottom: 3%;
}*/

.infoTagDivs span {
    margin-bottom: 2%!important;
}


/*********** Mostrar Esrutura XML *****************/

.divInformation {
    float: right;
    /*height: 150px;*/
    width: 25%;
    margin-top: 10%;
}

.divInformation *, #resumo_id *{
    margin: 0;
}

.divInformation div > div, #resumo_id div > div {
    margin-left: 4%;
}

#resumo_id > div {
    color: #999;
    border-left: 2px solid #999;
    padding-left: 2%;
}

#dropdown_arcgis option:disabled {
    color: black;
    font-weight: bold;
}